
.box-container{
    height: 221px;
    background-color: rgb(248,249,250);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
}
.box{
    width: 350px;
    height: 173px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.box-icons{
    font-size: 25px;
}